body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(25, 49, 187, 0.438), rgb(34, 88, 202));
    color: rgb(3, 3, 3);
    margin: 0;
    font-size: 30px
}

.container {
    max-width: 960px;
    margin: 0 auto;
}


header {
    display: flex;
    justify-content: space-between; 
    align-items: center;    
    padding: 1rem 2rem;
    background-color: rgb(230, 227, 198);
}





input[type="submit"]:hover {
    transition: rgb(9, 255, 0)
}

.vert {
    background-color: green;
    color: white;
}

.rouge {
    background-color: rgb(252, 0, 0);
    color: white;
}

button {
    background-color: #adaaaa; 
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.cache {
    display: none;
}

button:hover {
    background-color: #948c8c; 
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    gap: 30px; 
}


.lien a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


