body {
    font-family: Arial, sans-serif;
    background-color: rgba(161, 131, 211, 0.384);
    color: rgb(3, 3, 3);
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}


header {
    display: flex;
    justify-content: space-between; 
    align-items: center;    
    padding: 1rem 2rem;
    background-color: rgb(230, 227, 198);
}


.lien a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.959);
}


input[type="submit"]:hover {
    transition: rgb(9, 255, 0)
}

body.vert{
  color: #06ff45;
}